<% var date = new Date(); %>
<% var year = date.getFullYear(); %>
<footer>
    <p>&copy; <%= year %> Simple Farm &amp; Garden | Preserving the Simple Way of Life</p>
    <p class="credit">Website by <a href="www.kristinvaughn.com">Kristin Vaughn</a></p>
</footer>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>