<% var date = new Date(); %>
<% var year = date.getFullYear(); %>
<footer>
    <p>&copy; <%= year %> Simple Farm &amp; Garden | <span class="credit">Website by <a href="www.kristinvaughn.com">Kristin Vaughn</a></span></p>
</footer>
<script src="/js/main.js"></script>
</body>
</html>