<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Farm &amp; Garden</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800|Vidaloka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>
<body id="inner">
    <div class="navbar">
        <div class="container">
            <a href="/" class="logo-link"><img src="/images/logo-dark.png" alt="Logo" id="logo-dark"></a>
            <nav id="nav">
                <span class="toggle-menu"><img src="/images/toggle-menu.png" alt="Menu Toggle"></span>
                <span class="close-menu"><img src="/images/close-menu.png" alt="X"></span>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                </ul>
            </nav>
        </div>
    </div>