<% include partials/header %>
<% include partials/body-inner %>
<% include partials/nav %>

<main>
    <section id="coming-soon">
        <div class="container">
            <h1>Coming Soon!</h1>
        </div>
    </section>
</main>

<% include partials/footer %>