<% include partials/header %>
<header class="homepage-header">
    <img src="images/mason-jar.png" alt="Mason jar" class="header-image">
    <div class="inner-wrapper">
        <h1><span class="subheader-top">Simple canning</span>Recipes<span class="subheader-bottom">and tutorials</span></h1>
        <p class="header-caption">Essential farm-to-table resources that help you preserve the simple way of life.</p>
        <p><a href="recipes" class="button-primary">View Recipes</a></p>
    </div>
</header>
<main>
    <section id="browse">
        <div class="container">
            <h2>Browse Recipes</h2>
            <div class="category-wrapper">
                <div class="categories category">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="/">Canning</a></li>
                        <li><a href="/">Appetizers</a></li>
                        <li><a href="/">Soups</a></li>
                        <li><a href="/">Salads</a></li>
                        <li><a href="/">Vegetables</a></li>
                        <li><a href="/">Main Dishes</a></li>
                        <li><a href="/">Side Dishes</a></li>
                        <li><a href="/">Breads &amp; Rolls</a></li>
                        <li><a href="/">Desserts</a></li>
                        <li><a href="/">Miscellaneous</a></li>
                        
                    </ul>
                </div>
                <div class="cuisine category">
                    <h3>Cuisine</h3>
                    <ul>
                        <li><a href="/">American</a></li>
                        <li><a href="/">Indian</a></li>
                        <li><a href="/">Chinese</a></li>
                        <li><a href="/">Vegetarian</a></li>
                    </ul>
                </div>
                <div class="occasion category">
                    <h3>Occasion</h3>
                    <ul>
                        <li><a href="/">Breakfast</a></li>
                        <li><a href="/">Lunch</a></li>
                        <li><a href="/">Dinner</a></li>
                    </ul>
                </div>
                <div class="protein category">
                    <h3>Protein</h3>
                    <ul>
                        <li><a href="/">Chicken</a></li>
                        <li><a href="/">Tofu</a></li>
                        <li><a href="/">Beef</a></li>
                        <li><a href="/">Pork</a></li>
                    </ul>
                </div>
                <div class="category-image">
                    <img src="/images/category-image.jpg" alt="Cracking egg over flour">
                </div>
            </div>
        </div>
    </section>
</main>
<% include partials/footer %>