<% include partials/header %>
<% include partials/body-home %>
<% include partials/nav %>
<header class="homepage-header">
    <img src="images/mason-jar.png" alt="Mason jar" class="header-image">
    <div class="inner-wrapper">
        <h1><span class="subheader-top">Simple canning</span>Recipes<span class="subheader-bottom">and tutorials</span></h1>
        <p class="header-caption">Essential farm-to-table resources that help you preserve the simple way of life.</p>
        <p><a href="recipes" class="button-primary">View Recipes</a></p>
    </div>
</header>
<main>
    <section id="browse">
        <div class="container">
            <h2>Browse Recipes</h2>
            <div class="category-wrapper">
                <div class="categories category">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="/recipes">Canning</a></li>
                        <li><a href="/recipes">Appetizers</a></li>
                        <li><a href="/recipes">Soups</a></li>
                        <li><a href="/recipes">Salads</a></li>
                        <li><a href="/recipes">Vegetables</a></li>
                        <li><a href="/recipes">Main Dishes</a></li>
                        <li><a href="/recipes">Side Dishes</a></li>
                        <li><a href="/recipes">Breads &amp; Rolls</a></li>
                        <li><a href="/recipes">Desserts</a></li>
                        <li><a href="/recipes">Miscellaneous</a></li>
                        
                    </ul>
                </div>
                <div class="cuisine category">
                    <h3>Ingredients</h3>
                    <ul>
                        <li><a href="/recipes">Cucumbers</a></li>
                        <li><a href="/recipes">Tomatoes</a></li>
                        <li><a href="/recipes">Potatoes</a></li>
                        <li><a href="/recipes">Pears</a></li>
                        <li><a href="/recipes">Apples</a></li>
                    </ul>
                </div>
                <div class="occasion category">
                    <h3>Occasion</h3>
                    <ul>
                        <li><a href="/recipes">Breakfast</a></li>
                        <li><a href="/recipes">Lunch</a></li>
                        <li><a href="/recipes">Dinner</a></li>
                    </ul>
                </div>
                <div class="protein category">
                    <h3>Protein</h3>
                    <ul>
                        <li><a href="/recipes">Chicken</a></li>
                        <li><a href="/recipes">Tofu</a></li>
                        <li><a href="/recipes">Beef</a></li>
                        <li><a href="/recipes">Pork</a></li>
                    </ul>
                </div>
                <div class="category-image">
                    <img src="/images/category-image.jpg" alt="Cracking egg over flour">
                </div>
            </div>
        </div>
    </section>
</main>
<% include partials/footer %>