<% include partials/header %>
<header class="homepage-header">
    <img src="images/mason-jar.png" alt="Mason jar" class="header-image">
    <div class="inner-wrapper">
        <h1><span class="subheader-top">Simple canning</span>Recipes<span class="subheader-bottom">and tutorials</span></h1>
        <p class="header-caption">Essential farm-to-table resources that help you preserve the simple way of life.</p>
        <p><a href="recipes" class="button-primary">View Recipes</a></p>
    </div>
</header>
<% include partials/footer %>