<% include partials/header-inner %>

<main>
    <section id="new-recipe">
        <div class="container">
            <h1>Add Recipe</h1>
            <h2 class="subheader">Ready to upload a new recipe?</h2>
            <p class="form-blurb">Fill out and submit the form below to share your own delicious recipe on our site! </p>
            <form action="/recipes" method="POST" id="new-recipe-form">
                <div class="form-wrapper">
                    <div>
                        <h3><sup>* </sup>Recipe Title:</h3>
                        <input name="recipetitle" type="text" placeholder="Recipe Title" required="required">
                    </div>
                    <div>
                        <h3><sup>* </sup>Image URL:</h3>
                        <input name="imageurl" type="text" placeholder="Image URL" required="required">
                    </div>
                    <div>
                        <h3><sup>* </sup>Recipe Difficulty:</h3>
                        <select name="difficulty" id="difficulty" required="required">
                            <option value="easy">easy</option>
                            <option value="moderate">moderate</option>
                            <option value="hard">hard</option>
                        </select>
                    </div>
                    <div>
                        <h3><sup>* </sup>Total Prep &plus; Cook Time:</h3>
                        <select name="time" id="time" required="required">
                            <option value="15 min">15 min</option>
                            <option value="30 min">30 min</option>
                            <option value="45 min">45 min</option>
                            <option value="1 hr">1 hr</option>
                            <option value="1 hr 15 min">1 hr 15 min</option>
                            <option value="1 hr 30 min">1 hr 30 min</option>
                            <option value="1 hr 45 min">1 hr 45 min</option>
                            <option value="2 hr">2 hr</option>
                            <option value="2 hr 15 min">2 hr 15 min</option>
                            <option value="2 hr 30 min">2 hr 30 min</option>
                            <option value="2 hr 45 min">2 hr 45 min</option>
                            <option value="3 hr">3 hr</option>
                            <option value="3 hr 15 min">3 hr 15 min</option>
                            <option value="3 hr 30 min">3 hr 30 min</option>
                            <option value="3 hr 45 min">3 hr 45 min</option>
                            <option value="4 hr">4 hr</option>
                            <option value="4 hr 15 min">4 hr 15 min</option>
                            <option value="4 hr 30 min">4 hr 30 min</option>
                            <option value="4 hr 45 min">4 hr 45 min</option>
                            <option value="5 hr">5 hr</option>
                            <option value="5 hr 15 min">5 hr 15 min</option>
                            <option value="5 hr 30 min">5 hr 30 min</option>
                            <option value="5 hr 45 min">5 hr 45 min</option>
                            <option value="6 hr">6 hr</option>
                        </select>
                    </div>
                    <div>
                        <h3><sup>* </sup>Ingredients</h3>
                        <p class="form-info">One ingredient per line.</p>
                        <textarea name="ingredients" id="ingredients" rows="10" required="required"></textarea>
                    </div>
                    <div>
                        <h3><sup>* </sup>Directions</h3>
                        <p class="form-info">Place each step on a separate line.</p>
                        <textarea name="directions" id="directions" rows="10" required="required"></textarea>
                    </div>
                    <div>
                        <h3><sup>* </sup>Recipe Tags:</h3>
                        <p class="form-info">Check all that apply.</p>
                        <div>
                            <input type="checkbox" id="canning" name="tags[]" value="Canning">
                            <label for="canning">Canning</label>
                        </div>
                        <div>
                            <input type="checkbox" id="baking" name="tags[]" value="Baking">
                            <label for="baking">Baking</label>
                        </div>
                        <div>
                            <input type="checkbox" id="side-dish" name="tags[]" value="Side Dish">
                            <label for="side-dish">Side Dish</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="submit">Submit</button>
                <div><a href="/recipes" class="back">Go Back</a></div>
            </form>
        </div>
    </section>
</main>

<% include partials/footer %>