<% include ../partials/header %>
<% include ../partials/body-inner %>
<% include ../partials/nav %>

<main>
    <section id="secret">
        <div class="container">
            <h1>Secret page!</h1>
        </div>
    </section>
</main>

<% include ../partials/footer %>


