/* General */
body {font-family: 'Nunito Sans', arial, sans-serif; margin: 0; font-size: 16px;}
h1, h2 {font-family: 'Vidaloka', serif;}
h1 {font-size: 5.5rem; margin: 30px 0;}
.subheader {color: #cf2452;}
h3 {font-weight: 800; font-size: 1.1rem;}
#inner h1 {text-align: left; font-size: 3rem; margin: 0; padding: 60px 0;}
.subheader-top {font-weight: normal; font-size: 1.5rem; color: #7d7d7d; display: block; font-family: 'Nunito Sans', arial, sans-serif; line-height: 1;}
.subheader-bottom {font-weight: normal; font-size: 1.6rem; display: block; letter-spacing: 12px;}
.container {padding: 0 20px; box-sizing: border-box; width: 100%; max-width: 1500px; margin: 0 auto;}
.wrap {display: flex; justify-content: space-between; align-items: center;}
/* Buttons */
.button-primary {padding: 20px; text-align: center; min-width: 250px; border-radius: 3px; font-size: 1.25rem; background: #b3123d; font-weight: 800; box-shadow: 8px 8px 0 rgba(151, 16, 51,.2); display: inline-block; color: #fff; text-decoration: none; transition: .25s;}
.button-primary:hover {box-shadow: none; background: #cf2452;}
.button-round {background: #cf2452; color: #fff; font-weight: 800; padding: 5px 18px 8px 19px; border-radius: 50px; text-decoration: none; font-size: 2em; transition: .25s;}
.button-round:hover {background: #d84a62;}
#nav .button-nav {background: #cf2452; color: #fff; border-radius: 3px;}
#nav .button-nav:hover {background: #d84a62; color: #fff;}
.submit {padding: 20px; min-width: 250px; border-radius: 3px; background: #cf2452; color: #fff; font-weight: 800; border: none; font-size: 1rem; letter-spacing: 1px;}
.submit:hover {cursor: pointer; background: #d84a62;}
/* Navigation */
.navbar {border-bottom: 1px solid rgba(0,0,0,.1); background: #fff;}
.navbar .container {display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;}
#logo-dark {width: 150px;}
.logo-link {display: inline-block;}
#nav ul {margin: 0; padding: 0;}
#nav ul li {list-style-type: none; display: inline-block;}
#nav ul li a {text-decoration: none; display: inline-block; padding: 5px 15px; color: #000; transition: .25s; font-weight: 600; box-sizing: border-box;}
#nav ul li a:hover {color: #999;}
/* Header */
.homepage-header {background: #eee; display: flex; align-items: center; justify-content: center; min-height: 550px; position: relative; flex-wrap: wrap; padding: 20px;}
.header-caption {margin: 50px 0 60px; font-size: 1.3rem; width: 100%; max-width: 375px;}
.inner-header {background: #eee;}
.hero {position: relative; padding-top: 500px; overflow: hidden;}
.hero img {position: absolute; top: 0; right: 0; bottom: 0; left: 50%; transform: translateX(-50%); width: auto; height: auto; min-height: 100%; min-width: 100%;}
/* Browse */
#browse {padding: 50px 0;}
#browse h2 {margin-bottom: 40px;}
#browse h3 {color: #aaa; font-size: .9rem; margin-bottom: 20px;}
.category-wrapper {display: flex; flex-wrap: wrap; justify-content: space-between;}
.category {margin-bottom: 40px; flex: 0 1 12%;}
.category ul {margin: 0; padding: 0;}
.category ul li {list-style-type: none; padding: 5px 0;}
.category ul li a {text-decoration: none; color: #000; font-weight: bold;}
.category-image {flex: 0 1 50%;}
.category-image img {width: 100%; height: auto;}
/* Recipes */
#recipes {background: #eee; padding-bottom: 50px;}
#recipe-cards {display: flex; flex-wrap: wrap; justify-content: space-between;}
.card {border-radius: 20px; flex: 0 1 24%;}
#recipe-cards .card a {text-decoration: none; color: #000;}
.thumbnail {border-radius: 20px; box-shadow: 0px 7px 15px rgba(0, 0, 0, .08); position: relative; width: 100%; padding-top: 100%; overflow: hidden;}
.thumbnail-image {display: block; min-width: 100%; height: 100%; width: auto; border-radius: 20px; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.card-content {padding: 15px; border-radius: 20px; box-shadow: 0px 7px 15px rgba(0, 0, 0, .08); width: 75%; margin: 0 auto; position: relative; top: -80px; background: linear-gradient(rgba(255,255,255,.9) 20%, rgba(255,255,255,.99) 60%);}
.recipe-title {font-weight: 800; font-size: 1.1em;}
#recipes .card hr {border: 1px solid #ececec;}
.recipe-info {font-size: .8em; font-weight: 600; display: flex; justify-content: space-between;}
.recipe-info img {vertical-align: middle; margin-bottom: 5px;}
.recipe-tags {font-size: .8em; color: #555; margin: 10px 0; font-weight: 700;}
/* New Recipes */
#new-recipe {background: #eee; padding-bottom: 80px;}
.form-blurb {font-size: 1.3rem; margin-bottom: 70px;}
.form-wrapper {display: flex; flex-wrap: wrap; justify-content: space-between;}
#new-recipe-form input[type="text"], #new-recipe-form select, #new-recipe textarea {padding: 20px; box-sizing: border-box; font-family: 'Nunito Sans', arial, sans-serif; font-size: 1rem; width: 100%; border: 1px solid #ccc;}
.form-wrapper div {flex: 0 49%; margin-bottom: 20px;}
#new-recipe sup {color: #cf2452; font-size: .8rem;}
.form-info {color: #777; font-size: .9rem; padding-left: 9px; margin-bottom: 20px;}
.back {display: inline-block; color: #cf2452; font-weight: bold; text-decoration: none; margin: 35px 0; transition: .25s}
.back:hover {color: #d84a62;}
/* Show Recipes */
.container-small {padding: 0 20px; box-sizing: border-box; width: 100%; max-width: 1000px; margin: 0 auto;}
.wrap-even {display: flex; align-items: flex-start; flex-wrap: wrap; justify-content: space-between;}
#ingredients {flex: 0 1 30%;}
#directions {flex: 0 1 68%;}
.preserve-lines {white-space: pre-line;}
#inner .container-small h1 {padding: 10px 0 20px; text-align: center;}
.container-small .card-content {padding-top: 30px;}
.container-small .card-content .recipe-info {justify-content: space-around; box-sizing: border-box; width: 100%; max-width: 400px; margin: 0 auto;}
.container-small .recipe-tags {margin: -30px 0 20px; font-weight: normal;}
.action-buttons {position: absolute; top: -35px; right: 10px; display: flex; justify-content: space-around; flex-wrap: wrap;}
.action-button {width: 55px; height: 55px; background: #fff; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin: 5px;}
#ingredients, #directions {padding-bottom: 50px;}
/* Edit Recipes */
#delete-recipe-button {padding: 8px 9px 0px 9px; border: none; box-shadow: none;}
#delete-recipe-button:hover {cursor: pointer;}
/* Footer */
footer {background: #cf2452; padding: 20px; color: #fff; text-align: center; font-weight: 600;}
/* Responsive */
@media screen and (max-width: 1367px) {
    .card {flex: 0 1 32%;}
}
@media screen and (max-width: 1200px) {
    .navbar {border-bottom: 1px solid rgba(0,0,0,.1);}
    .header-image {width: 500px;}
}
@media screen and (max-width: 1024px) {
    .navbar {position: relative;}
    .homepage-header {padding-top: 50px;}
    h1, .homepage-header, .header-caption {text-align: center;}
    .header-caption {margin: 50px auto 60px;}
    .header-image {order: 2; width: 80%; max-width: 600px; margin: 0 50px; box-sizing: border-box;}
    .form-wrapper div {flex: 0 100%;}
    .inner-header .container-small {padding: 0;}
    #inner .container-small h1 {font-size: 2rem;}
    .card {flex: 0 1 49%;}
    #ingredients, #directions {flex: 0 1 100%;}
    .category {flex: 0 1 25%;}
    .category-image {flex: 0 1 100%;}
}
@media screen and (min-width: 768px) {
    .toggle-menu, .close-menu {display: none;}
    #nav ul {display: block;}
}
@media screen and (max-width: 767px) {
    #logo-dark {width: 100px;}
    .card, .wrap-even section {flex: 0 1 100%;}
    .navbar {position: relative;}
    .close-menu {display: none;}
    #nav ul {display: none; position: absolute; top: 59px; right: 0; width: 100%; box-sizing: border-box; z-index: 991; background: #fff;}
    #nav ul li {display: block; border-bottom: 1px solid rgba(0,0,0,.1);}
    #nav ul li a {padding: 15px 20px; width: 100%; box-sizing: border-box;}
    #nav .button-nav {border-radius: 0;}
    #new-recipe-button, #delete-recipe-button {position: fixed; bottom: 5px; right: 5px; z-index: 999; box-shadow: -3px 7px 15px rgba(0, 0, 0, .1);}
    .container-small .card-content {width: 100%; box-sizing: border-box;}
    .action-buttons {top: -202px; right: -5px; width: 65px;}
    .action-button {flex: 0 1 100%;}
    .category {flex: 0 1 50%;}
}
@media screen and (max-width: 400px) {
    .category {flex: 0 1 100%;}
}